body {
	background-image: url(/img/pattern.png);
	background-attachment: fixed;
}

.box {
	height: 565px;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0px 0px 15px #ccc;
}

.show-box {
	padding: 20px;
	box-shadow: 0px 0px 15px #ccc;
}

.search {
	margin-bottom: 10px;
}
.submit {
	margin-bottom: 5px;
}

#search {
	width: 250px;
	font-family: Helvetica;
    font-style: normal;
    font-size: 1.15em;
    font-weight: bold;
    text-decoration: inherit;
}

#search.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.15em;
    font-weight: bold;
    text-decoration: inherit;
}

.nav {
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.15em;
    font-weight: bold;
    text-decoration: inherit;
}

.navbar-brand {
	font-family: Helvetica;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: inherit;
}

.title {
	height: 90px;
	overflow: hidden elipsis;
}

.nav {
	height: 60px;
}

.navbar {
	background-image: url(/img/nav.jpeg);
	background-size: cover;
}

.white{
	color: white !important;
}

.white:hover,
.nav>li>a:focus, 
.nav>li>a:hover{
	color: #888;
	text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background-color: rgba(0, 0, 0, 0);
}

.jumbotron {
	color: white;	
	font-family: Helvetica;
    font-style: normal;
    font-size: 4em;
    background-image: url(/img/title.jpeg);
    background-size: cover;

}

table{
	background-color: #efefef;
}

.subscript{
	position: relative;
	top: 10px;
}

.rank {
	border: none;
}

#preview {
	max-width: 400px;
}

.img-preview {
	position: relative;
	bottom: 45px;
}

/**********/
/* Footer */
/**********/
.full {
	width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	margin-top: 100px;
	margin-bottom: 0px;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

/* layout.css Style */
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}
.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

.btn {
	margin:5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}